* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Dancing Script', cursive;
    line-height: 1.5;   
}

#main {
    background-image: url('/assest/img/all/Cute\ Heart\ Pattern\ wallpaper\ 1600x1200\ 27954.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: 1000px; 
    background-clip: border-box !important;
    box-sizing: border-box;        
}

#header {
}

#slider {
    padding-top: 50%;
    background: url('/assest/img/slider/banner.jpg') top center / cover no-repeat;     
}
#content {
    padding: 80px 16px;
    margin: 0px 280.500px;    
}

#content .content-section {
    width: 100%;    
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

h1.section-heading {
    text-align: center;
    font-weight: 600;  
    width: 100%;  
}

p.sub-heading {
    opacity: 0.60;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 22.5px;
    font-weight: 700;
}

h2.content-des {
    font-family: 'Lobster', cursive;
    text-align: justify;
    line-height: 1.6;
    padding: 0 48px;
}
#content .ti-heart {
    font-size: 32px;
}

#content .member-list {
    margin-top: 48px;
    overflow: hidden;
}

#content .member-item { 
    width: 25%;
    float: left;  
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    font-family: 'Lobster', cursive;
}

.member-img {
    border-radius: 4px;
    width: 154px;
    max-height: 158px;
}

.table {
    padding: 200px 16px;
}
.member-list2 {
    margin-top: 320px;
    padding: 48px 16px;
    overflow: hidden;
    background-color: rgb(211,198,224);
}

.member-item2 {
    width: 33.333%;
    float: left;  
   text-align: center;
}

.member-img2 {
    border-radius: 4px;
    width: 200px;
    max-height: 200px;
}

.girls-wish {
    font-family: 'Lobster', cursive;
    margin-top: 250px;
    text-align: justify;
    padding: 0 48px;
}

.teacher-content {
    margin-top: 200px;
    padding: 48px 16px;
    background-color: rgb(211,198,224);
    box-sizing: padding-box;
}

.teacher-img {
    width: 300px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.teacher-wishes {
    font-family: 'Lobster', cursive;
    margin: 30px 0px;
    text-align: justify;
    padding: 0 48px;
}

#footer {
    font-family: 'Lobster', cursive;
    background-color: rgb(224,187,228);
    
}
#footer .wishes {
    color: black;
    text-align: center;
}

h6 {
    font-weight: 200;
    font-family: 'Lobster', cursive;
    font-size: 16px;
    overflow: hidden;
}